* {
  box-sizing: border-box; }

.wrapper {
  max-width: 960px;
  margin: 0 auto; }

header, footer {
  background: #005bbb;
  color: white; }

header {
  height: 60px; }

.headerLogo {
  float: left;
  max-width: 300px;
  padding-top: 20px; }

.page-title {
  text-align: center;
  font-size: 40px;
  margin: 40px 0 40px 0; }

.main .wrapper {
  padding: 80px 0; }

.nav.nav-tabs {
  display: flex;
  justify-content: center;
  width: auto;
  font-size: 20px; }
  .nav.nav-tabs li a:hover, .nav.nav-tabs li a.active {
    background: #005bbb;
    color: white; }

#mycarousel {
  position: relative; }
  #mycarousel img {
    width: 100vw;
    height: 60vh; }
  #mycarousel #prev, #mycarousel #next {
    position: absolute;
    top: 42.5%; }
  #mycarousel #prev {
    left: -10px; }
    #mycarousel #prev:active i {
      transform: translateX(-2px); }
  #mycarousel #next {
    right: -10px; }
    #mycarousel #next:active i {
      transform: translateX(2px); }
  #mycarousel i.material-icons {
    font-size: 10rem;
    color: white; }

.center-block {
  max-width: 200px;
  padding: 10px; }

.profilePic {
  border-radius: 50%;
    border-radius-max-width: 200px; }

footer {
  height: auto; }
  footer .wrapper {
    padding: 50px 0 30px 0; }
    footer .wrapper .footerLogo {
      height: 80px; }
