* {
  box-sizing: border-box; }

.wrapper {
  max-width: 960px;
  margin: 0 auto; }

header, footer {
  background: #005bbb;
  color: white; }

header {
  height: 60px; }

.headerLogo {
  float: left;
  max-width: 300px;
  padding-top: 20px; }

.page-title {
  text-align: center;
  font-size: 40px;
  margin: 40px 0 40px 0; }

.main .wrapper {
  padding: 80px 0; }

.main .row {
  padding: 50px 0; }
  .main .row:first-child {
    padding: 0; }

.main .centerWrap {
  margin: 0 auto;
  float: none; }

.nav.nav-tabs {
  display: flex;
  justify-content: center;
  width: auto;
  font-size: 20px; }
  .nav.nav-tabs li a:hover, .nav.nav-tabs li a.active {
    background: #005bbb;
    color: white; }

#mycarousel {
  position: relative; }
  #mycarousel img {
    width: 100vw;
    height: 60vh; }
  #mycarousel #prev, #mycarousel #next {
    position: absolute;
    top: 42.5%; }
  #mycarousel #prev {
    left: -10px; }
    #mycarousel #prev:active i {
      transform: translateX(-2px); }
  #mycarousel #next {
    right: -10px; }
    #mycarousel #next:active i {
      transform: translateX(2px); }
  #mycarousel i.material-icons {
    font-size: 10rem;
    color: white; }

.center-block {
  max-width: 150px;
  padding: 10px; }

.profilePic {
  max-width: 200px;
  border-radius: 50%; }

.title-icon {
  width: 30px;
  height: 30px; }

.section-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .section-title h2 {
    margin: 0;
    margin-left: 10px; }

ol {
  transform: rotate(180deg);
  margin-left: 20px; }
  ol li {
    margin: 5px 0;
    transform: rotate(-180deg); }
    ol li a {
      text-decoration: none;
      border-bottom: 1px solid; }
      ol li a:hover {
        text-decoration: none;
        border-bottom: 2px; }

footer {
  height: auto; }
  footer .wrapper {
    padding: 50px 0 30px 0; }
    footer .wrapper .footerLogo {
      height: 80px; }
  footer address {
    margin-top: 25px;
    margin-left: 68px; }
