body {
  position: relative;
  height: 100%; }

html {
  font-size: 16px; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  border-bottom: 1px solid; }
  a:hover {
    text-decoration: none;
    border-bottom: 2px solid; }

h2, h3, h4, h5, h6 {
  font-family: 'Georgia', serif;
  font-weight: 600;
  color: #005bbb; }

h2.name, h3.name, h4.name {
  color: black;
  font-family: 'Arial', sans-serif;
  font-weight: normal; }

h4.morespace {
  margin-top: 25px; }

.bottomspace {
  margin-bottom: 20px; }

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px; }

img.img-responsive {
  margin: 0 auto;
  padding: 4px;
  border: 1px solid #ddd; }

header, footer {
  background: #005bbb;
  color: white; }

header {
  height: 60px; }

.headerLogo {
  float: left;
  max-width: 300px;
  padding-top: 20px; }

.page-title {
  text-align: center;
  font-size: 40px;
  padding: 40px 0 40px 0;
  margin: 0;
  background: white;
  position: relative;
  z-index: 1; }

.main .wrapper {
  padding-top: 25px;
  padding-bottom: 80px; }

.main .row {
  padding: 50px 0;
  padding-top: 0; }

.main .centerWrap {
  margin: 0 auto;
  float: none; }

@media screen and (max-width: calc($bp-medium - 1)) {
  .main .wrapper .row div:not(:first-of-type) {
    margin-top: 60px; } }

#hamburger {
  width: 30px;
  height: 23px;
  position: absolute;
  top: 17px;
  right: 15px;
  cursor: pointer;
  z-index: 1; }
  #hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out; }
    #hamburger span:nth-child(1) {
      top: 0; }
    #hamburger span:nth-child(2), #hamburger span:nth-child(3) {
      top: 10px; }
    #hamburger span:nth-child(4) {
      bottom: 0; }
  #hamburger.open span:nth-child(1) {
    top: 9px;
    width: 0;
    left: 50%; }
  #hamburger.open span:nth-child(2) {
    transform: rotate(45deg); }
  #hamburger.open span:nth-child(3) {
    transform: rotate(-45deg); }
  #hamburger.open span:nth-child(4) {
    bottom: 9px;
    width: 0;
    left: 50%; }
  @media screen and (min-width: 768px) {
    #hamburger {
      display: none; } }

#nav {
  background: #f1f1f1;
  position: relative; }
  #nav::after, #nav::before {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute; }
  #nav::after {
    bottom: 0;
    box-shadow: 0 -10px 10px -10px black inset; }
  #nav::before {
    top: 0px;
    box-shadow: 0 10px 10px -10px black inset; }
  #nav .nav.nav-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    border-bottom: none;
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: all .3s ease; }
    #nav .nav.nav-tabs li a:hover, #nav .nav.nav-tabs li a.active {
      background: #005bbb;
      color: white; }
  #nav.open {
    padding: 20px 0; }
    #nav.open .nav.nav-tabs {
      width: 90%;
      visibility: visible;
      height: 300px;
      opacity: 1; }
  @media screen and (min-width: 768px) {
    #nav {
      background: none;
      border: none; }
      #nav::after, #nav::before {
        content: none; }
      #nav .wrapper .nav.nav-tabs {
        flex-direction: row;
        width: auto;
        visibility: visible;
        height: 50px;
        opacity: 1;
        border-bottom: 1px solid #dddddd; } }

#mycarousel {
  position: relative;
  height: 200px;
  overflow: hidden; }
  #mycarousel img {
    min-height: 100%;
    min-width: 100%; }
  #mycarousel #prev, #mycarousel #next {
    position: absolute;
    top: 35%;
    border-bottom: none; }
    #mycarousel #prev:hover, #mycarousel #next:hover {
      border-bottom: none; }
  #mycarousel #prev {
    left: -10px; }
    #mycarousel #prev:active i {
      transform: translateX(-2px); }
  #mycarousel #next {
    right: -10px; }
    #mycarousel #next:active i {
      transform: translateX(2px); }
  #mycarousel i.material-icons {
    font-size: 5rem;
    color: white; }
    @media screen and (min-width: 768px) {
      #mycarousel i.material-icons {
        font-size: 10rem; } }
  @media screen and (min-width: 768px) {
    #mycarousel {
      height: 65vh; } }

.center-block {
  max-width: 120px;
  padding: 10px; }

.profilePic {
  max-width: 200px;
  border-radius: 50%; }

.title-icon {
  width: 30px;
  height: 30px; }

#research article .content {
  border: 1px solid #dddddd;
  padding: 20px; }

#sidebar {
  display: none; }
  @media screen and (min-width: 1010px) {
    #sidebar {
      display: block;
      width: 250px;
      background: white;
      margin-left: 30px; }
      #sidebar.affix {
        top: 10px; }
      #sidebar .nav li {
        margin: 1px 0 1px 0;
        border-left: 3px solid white; }
        #sidebar .nav li a {
          color: #666666;
          padding-top: 5px;
          padding-bottom: 5px;
          border-bottom: none; }
        #sidebar .nav li:hover {
          border-bottom: none;
          border-left: 3px solid #005bbb; }
          #sidebar .nav li:hover a {
            color: #005bbb;
            background: none;
            font-weight: 600; }
        #sidebar .nav li.active {
          border-left: 3px solid #005bbb; }
          #sidebar .nav li.active a {
            color: #005bbb;
            font-weight: 600; } }

.research {
  max-width: 100%; }

.section-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .section-title h2 {
    margin: 0;
    margin-left: 10px; }

#publications ol {
  transform: rotate(180deg);
  margin-left: 20px; }
  #publications ol li {
    margin: 5px 0;
    transform: rotate(-180deg); }

footer {
  height: auto; }
  footer .wrapper {
    padding-top: 50px;
    padding-bottom: 30px; }
    footer .wrapper .footerLogo a {
      border-bottom: none; }
      footer .wrapper .footerLogo a:hover {
        border-bottom: none; }
    footer .wrapper .footerLogo img {
      height: 45px; }
  footer address {
    margin-top: 10px;
    margin-left: 40px; }
  @media screen and (min-width: 768px) {
    footer .wrapper .footerLogo img {
      height: 80px; }
    footer address {
      margin-top: 25px;
      margin-left: 68px; } }
  footer .legal {
    text-align: right;
    font-size: 0.7rem;
    margin-top: 40px;
    border-top: 2px solid white;
    padding-top: 30px; }
    footer .legal a {
      color: white; }
      footer .legal a:hover {
        text-decoration: none; }
