$ub-blue: #005bbb
$lightgrey: #dddddd
$bp-medium: 768px
$bp-xlarge: 1010px

html
  font-size: 16px

*
  box-sizing: border-box

h2, h3, h4, h5, h6
  font-family: 'Georgia', serif
  font-weight: 600
  color: $ub-blue

.wrapper
  max-width: 960px
  margin: 0 auto
  padding: 0 20px

header, footer
  background: $ub-blue
  color: white

header
  height: 60px
.headerLogo
  float: left
  max-width: 300px
  padding-top: 20px
.page-title
  text-align: center
  font-size: 40px
  margin: 40px 0 40px 0

.main
  .wrapper
    padding-top: 35px
    padding-bottom: 80px
  .row
    padding: 50px 0
    &:first-child
      padding: 0
  .centerWrap
    margin: 0 auto
    float: none
    // width: 70%

.nav.nav-tabs
  display: flex
  flex-direction: column
  justify-content: center
  width: auto
  font-size: 1rem
  li a
    &:hover, &.active
      background: $ub-blue
      color: white
  @media screen and (min-width: $bp-medium)
    flex-direction: row

#mycarousel
  position: relative
  img
    width: 100vw
    height: 60vh
  #prev, #next
    position: absolute
    top: 42.5%
  #prev
    left: -10px
    &:active i
      transform: translateX(-2px)
  #next
    right: -10px
    &:active i
      transform: translateX(2px)
  i.material-icons
    font-size: 10rem
    color: white



.center-block
  max-width: 150px
  padding: 10px

.profilePic
  max-width: 200px
  border-radius: 50%

.title-icon
  width: 30px
  height: 30px

#research
  article
    .content
      border: 1px solid $lightgrey
      padding: 20px
#sidebar
  width: 250px
  &.affix
    top: 10px

.research
  max-width: 100%

.section-title
  display: flex
  align-items: center
  margin-bottom: 20px
  h2
    margin: 0
    margin-left: 10px

ol
	transform: rotate(180deg)
	margin-left: 20px
	li
		margin: 5px 0
		transform: rotate(-180deg)
  a
  	text-decoration: none
  	border-bottom: 1px solid
  	&:hover
      text-decoration: none
      border-bottom: 2px

footer
  height: auto
  .wrapper
    padding-top: 50px
    padding-bottom: 30px
    .footerLogo
      height: 45px
  address
    margin-top: 10px
    margin-left: 40px
  @media screen and (min-width: $bp-medium)
    .wrapper .footerLogo
      height: 80px
    address
      margin-top: 25px
      margin-left: 68px
