$ub-blue: #005bbb

*
  box-sizing: border-box

.wrapper
  max-width: 960px
  margin: 0 auto

header, footer
  background: $ub-blue
  color: white

header
  height: 60px
.headerLogo
  float: left
  max-width: 300px
  padding-top: 20px
.page-title
  text-align: center
  font-size: 40px
  margin: 40px 0 40px 0

.main
  .wrapper
    padding: 80px 0
  .row
    padding: 50px 0
    &:first-child
      padding: 0
  .centerWrap
    margin: 0 auto
    float: none
    // width: 70%



.nav.nav-tabs
  display: flex
  justify-content: center
  width: auto
  font-size: 20px
  li a
    &:hover, &.active
      background: $ub-blue
      color: white

#mycarousel
  position: relative
  img
    width: 100vw
    height: 60vh
  #prev, #next
    position: absolute
    top: 42.5%
  #prev
    left: -10px
    &:active i
      transform: translateX(-2px)
  #next
    right: -10px
    &:active i
      transform: translateX(2px)
  i.material-icons
    font-size: 10rem
    color: white



.center-block
  max-width: 150px
  padding: 10px

.profilePic
  max-width: 200px
  border-radius: 50%

.title-icon
  width: 30px
  height: 30px

.section-title
  display: flex
  align-items: center
  margin-bottom: 20px
  h2
    margin: 0
    margin-left: 10px

ol
	transform: rotate(180deg)
	margin-left: 20px
	li
		margin: 5px 0
		transform: rotate(-180deg)
  a
  	text-decoration: none
  	border-bottom: 1px solid
  	&:hover
      text-decoration: none
      border-bottom: 2px

footer
  height: auto
  .wrapper
    padding: 50px 0 30px 0
    .footerLogo
      height: 80px
  address
    margin-top: 25px
    margin-left: 68px
