footer
  .wrapper
    .footerLogo: a(href="https://engineering.buffalo.edu/content/seas/biomedical.html"): img(src="img/footerBME.png" alt="University at Buffalo, Department of Biomedical Engineering, Jacobs School of Medicine and Biomedical Sciences, School of Engineering and Applied Sciences") 
    address OPTICAL & ULTRASONIC IMAGING LABORATORY#[br]208 Bonner Hall#[br]University at Buffalo, North Campus#[br]Buffalo, NY 14260 #[br](716) 645-9126
    .legal 
      p The University at Buffalo is committed to ensuring equal access to its programs and activities. #[a(href="http://www.buffalo.edu/equity.html") View UB’s entire notice of non-discrimination].
      p © 2017 #[a(href="http://buffalo.edu") University at Buffalo]. All rights reserved. | #[a(href="http://www.buffalo.edu/ubit/policies/it-policies-a-to-z/privacy.html") Privacy] | #[a(href="https://www.buffalo.edu/home/accessibility.html") Accessibility]
