footer
  .wrapper
    img.footerLogo(src="img/footerBME.png" alt="Nada") 
    address OPTICAL & ULTRASONIC IMAGING LABORATORY#[br]208 Bonner Hall#[br]University at Buffalo, North Campus#[br]Buffalo, NY 14260 #[br](716) 645-9126
