header
  .wrapper 
    img.headerLogo(src="img/headerUB.png" alt="Nada")
h1.page-title Optical & Ultrasonic Imaging Laboratory
nav
  .wrapper: ul.nav.nav-tabs
    li: a(href="/index.html" class={active:currentPage === 'home'}) Home
    li: a(href="#" class={active:currentPage === 'research'}) Research 
    li: a(href="/publications.html" class={active:currentPage === 'publications'}) Publications
    li: a(href="/members.html" class={active:currentPage === 'members'}) Members
    li: a(href="/position.html" class={active:currentPage === 'position'}) Position
    li: a(href="/teaching.html" class={active:currentPage === 'teaching'}) Teaching
    li: a(href="#" class={active:currentPage === 'media'}) Media
