- var currentPage = 'home';
html
  head
    link(rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(href="css/main.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="node_modules/jquery/dist/jquery.min.js")
    script(src="node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript")
    title Optical and Ultrasonic Imaging Laboratory
    link(rel="icon" type="image/png" href="img/tabUB.png")
  body
    include ./includes/_header.pug
    .main
      #mycarousel.carousel.slide(data-ride="carousel")
        ol.carousel-indicators
          li.active(data-target="#mycarousel" data-slide-to="0")
          li(data-target="#mycarousel" data-slide-to="1")
          li(data-target="#mycarousel" data-slide-to="2")
        .carousel-inner(role="listbox")
          .item.active
            img.d-block.img-fluid(src="img/photo1.jpg" alt="First slide")
          .item 
            img.d-block.img-fluid(src="img/photo2.jpg" alt="Second slide")
          .item
            img.d-block.img-fluid(src="img/photo3.jpg" alt="Third slide")
          .item 
            img.d-block.img-fluid(src="img/photo2.jpg" alt="Second slide")
          .item
            img.d-block.img-fluid(src="img/photo3.jpg" alt="Third slide")
        a#prev.carousel-control-prev(href="#mycarousel" role="button" data-slide="prev" onclick="$('#myCarousel').carousel('prev')"): i.material-icons keyboard_arrow_left
          span.carousel-control-prev-icon(aria-hidden="true")
          span.sr-only Previous
        a#next.carousel-control-next(href="#mycarousel" role="button" data-slide="next" onclick="$('#myCarousel').carousel('next')"): i.material-icons keyboard_arrow_right
          span.carousel-control-next-icon(aria-hidden="true")
          span.sr-only Next

      .wrapper
        .row
          .col-md-4.col-sm-12
            img.center-block(src="img/icons/laser.png" alt="Nada") 
            h1.text-uppercase.text-center Mission
            p.text-justify The core focus of Dr. Xia's research is to develop novel optical and ultrasonic imaging techniques to meet needs occuring currently in cancer and neurological research. In Dr. Xia's laboratory, students will have the opportunity to be trained in optical and ultrasonic engineering, be involved with preclinical and clinical imaging studies, and to collaborate with chemists, physicians and neurologists in Western New York and Ontario, Canada.
          .col-md-4.col-sm-12
            img.center-block(src="img/icons/university.png" alt="Nada") 
            h1.text-uppercase.text-center UBuffalo
            p.text-justify The University at Buffalo is a premier, research-intensive public university dedicated to academic excellence. It is a flagship institution in the State University of New York system and it is the largest and most comprehensive campus. At UB, more than 29,000 students pursue their academic interests through more than 300 undergraduate, graduate and professional degree programs. UB strongly encourages thinking, research, creative activity and people positively impact the world. Founded in 1846, the University at Buffalo is a member of the Association of American Universities.
          .col-md-4.col-sm-12  
            img.center-block(src="img/icons/town.png" alt="Nada") 
            h1.text-uppercase.text-center Amherst
            p.text-justify University at Buffalo north campus is located in the town of Amherst, which is the largest and most populous suburb of Buffalo. Based on statistics reported to the FBI, Amherst has frequently been ranked as the Safest City in America (1996–1998, 2000–2003, 2010); many other years it ranks within the Top 5. The natural wonder - Niagara Falls - is just 20 minutes away from UB.
    include ./includes/_footer.pug
    script(src="js/main.js")
      
      
      
