html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(href="css/main.css" rel="stylesheet")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale-1.0")
  body
    header
      .wrapper University at Buffalo
      .page-header Optics & Ultrasonic Laboratory
    nav: ul.nav.nav-tabs.wrapper
      li: a(href="#") Home
      li: a(href="#") Research
      li: a(href="#") Publications
      li: a(href="#") Members
      li: a(href="#") Position
      li: a(href="#") Teaching
      li: a(href="#") Media
    .main
      .wrapper HELLO
    footer
      .wrapper.address OPTICAL & UTRASONIC LABORATORY 
      .wrapper.address 208 Bonner Hall 
      .wrapper.address University at Buffalo, North Campus 
      .wrapper.address Buffalo, NY 14260 
      .wrapper.address (716) 645-9126
      
      
      
