- var currentPage = 'members';
html
  head
    link(rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(href="css/main.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="node_modules/jquery/dist/jquery.min.js")
    script(src="node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript")
    title Optical and Ultrasonic Imaging Laboratory
    link(rel="icon" type="image/png" href="img/tabUB.png")
  body
    include ./includes/_header.pug
    .main
      .wrapper
        .row
          .col-md-12.col-sm-12
            img.center-block.profilePic(src="img/team/JunXIA2.jpg" alt="Jun Xia") 
            .centerWrap.col-md-8.col-sm-12
              h2.name.text-center Dr. Jun Xia
              p.text-justify Dr. Xia received his undergraduate training from the Physics Department at the University of Science and Technology of China from 1999 to 2004. He then moved to the University of Toronto and completed his Ph.D. training in 2010 with Dr. Andreas Mandelis on photothermal imaging. In the same year, he joined Dr. Lihong V. Wang's lab at Washington University in St. Louis as a postdoctoral fellow. There, he concentrated on photoacoustic tomography and invented ring-shaped confocal photoacoustic computed tomography (RC-PACT), a small-animal imaging system that provides high-resolution whole-body images of mice. Dr. Xia has published three book chapters and more than thirty papers in peer-reviewed journals. Dr. Xia is now an Assistant Professor at the State University of New York at Buffalo (University at Buffalo). 
              p.text-center External Page: #[a(href="https://scholar.google.com/citations?user=qgTPBDIAAAAJ") Dr. Xia's Google Scholar]
        
        .row
          .col-md-6.col-sm-6
            img.center-block.profilePic(src="img/team/YuehangWANG.jpg" alt="Yuehang Wang") 
            h2.name.text-center Yuehang Wang
            h4.text-center Ph.D Student
            p.text-justify Yuehang Wang comes from China and he is a graduate student in Biomedical Engineering. He received a B.S. in Biomedical Engineering in 2013, after that he worked in Beijing for one year. He is interested in functional and molecular imaging with photoacoustic tomography. Yuehang was a Master student at the University at Buffalo, Biomedical Engineering and decided to transition into the PhD program on August 2015. 
            p.text-center yuehangw@buffalo.edu
        
          .col-md-6.col-sm-6
            img.center-block.profilePic(src="img/team/YeZHAN.jpg" alt="Ye Zhan") 
            h2.name.text-center Ye Zhan
            h4.text-center Ph.D Student
            p.text-justify Ye Zhan received his undergraduate training from the Department of Mechanical Engineering at Harbin University of Sci & Tech (2014). In 2016, he finished his master study in the department of MEMS from University of Pittsburgh. He has strong interests in photoacoustic imaging. In the summer of 2016, he joined Dr. Xia’s group for Ph.D. study. 
            p.text-center yezhan@buffalo.edu
        
        
        .row
          .col-md-6.col-sm-6
            img.center-block.profilePic(src="img/team/RachelLIM.jpg" alt="Rachel Lim") 
            h2.name.text-center Rachel Lim
            h4.text-center Ph.D Student            
            p.text-justify Rachel Lim graduated in June 2016 with a double degree in Biomedical Engineering and Economics from the University at Buffalo. She hails from the awesome city of Kuala Lumpur, Malaysia. She worked at Dr. Xia's lab for a few months as research assistant and became a Ph.D. student in Fall 2017. 
            p.text-center rlim2@buffalo.edu

          .col-md-6.col-sm-6
            img.center-block.profilePic(src="img/team/NikhilaNYAYAPATHI.jpg" alt="Nikhila Nyayapathi") 
            h2.name.text-center Nikhila Nyayapathi
            h4.text-center Ph.D Student          
            p.text-justify Nikhila Nyayapathi graduated with B.E. (Hons) in Electronics and Instrumentation Engineering (2011) from Birla Institute of Technology and Science-Pilani, Dubai. She earned her Master’s degree in Electrical Engineering (2016) from UB, and is currently pursuing her PhD in Electrical Engineering. She joined Dr. Xia’s group in order to explore her interests in biomedical imaging and photoacoustics.
            p.text-center nikhilan@buffalo.edu      
            
            
        .row
          .col-md-6.col-sm-6
            img.center-block.profilePic(src="img/team/HuijuanZHANG.jpg" alt="Huijuan Zhang") 
            h2.name.text-center Huijuan Zhang
            h4.text-center Master's Student           
            p.text-justify Huijuan Zhang, Master's student in the Biomedical Engineering Department since Fall 2017. She received her Bachelor's degree in Biotechnology from Wuhan University of Technology in June 2017. She has a strong interest in engineering, especially in bioimaging field. To further expand her capability, she joined Dr. Xia’s group during her first semester at UB. She now works alongside Ph.D. stduents on the breast cancer imaging.
            p.text-center huijuanz@buffalo.edu
             
          .col-md-6.col-sm-6
            img.center-block.profilePic(src="img/team/WenhanZHENG.jpg" alt="Wenhan Zheng") 
            h2.name.text-center Wenhan Zheng
            h4.text-center Programming Assistant            
            p.text-justify Wenhan Zheng, senior in the department of Biomedical Engineering. He joined Dr. Xia’s lab in September 2018 to assist PhD students conducting research related to photoacoustic imaging system establishment. Besides that, he works on Matlab programming of photoacoustic imaging.
            p.text-center wzheng26@buffalo.edu
            
        
        .row
          h2.text-center Alumni
          .col-md-4.col-sm-6
            h3.name.text-center Tri Vu
            h4.text-center Bachelor's
            p.text-center June 2018
            p.text-center <i><b> Ph.D. Student </b><br> Duke University </i>
          .col-md-4.col-sm-6
            h3.name.text-center Depeng Wang
            h4.text-center Ph.D.
            p.text-center February 2018 
            p.text-center <i><b> Post Doctorate </b><br> Duke University </i>
          .col-md-4.col-sm-6
            h3.name.text-center Meagan Branch
            h4.text-center Bachelor's
            p.text-center June 2017

        .row    
          .col-md-4.col-sm-6
            h3.name.text-center Hongying Wan
            h4.text-center Master's
            p.text-center June 2016
          .col-md-4.col-sm-6
            h3.name.text-center Ryan Hubbell
            h4.text-center Bachelor's
            p.text-center June 2016  
            p.text-center <i><b> Budget Analyst </b><br> Circuit Clinical </i>
          .col-md-4.col-sm-6
            h3.name.text-center Andrey Svintozelsky
            h4.text-center Bachelor's
            p.text-center June 2016
            p.text-center <i><b> Sr. Manufacturing Engineer </b><br> Fresenius Kabi </i>
      
              
    include ./includes/_footer.pug
    script(src="js/main.js")
