- var currentPage = 'publications';
html
  head
    link(rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(href="css/main.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="node_modules/jquery/dist/jquery.min.js")
    script(src="node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript")
    title Optical and Ultrasonic Imaging Laboratory
    link(rel="icon" type="image/png" href="img/tabUB.png")
  body
    include ./includes/_header.pug
    .main
      .wrapper
        .row
          .col-md-12.col-sm-12
            img.center-block(src="img/journal.png" alt="Nada") 
            h1.text-uppercase.text-center Journal Articles
            p.text-justify blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
            //- li D. Wang, Y. Wang, W. Wang, D. Luo, U. Chitgupi, J. Geng, Y.Zhou, L. Wang, J.F. Lovell, and J. Xia, 
            //-   a(href="https://www.osapublishing.org/boe/abstract.cfm?uri=boe-8-1-112") Deep tissue photoacoustic computed tomography with a fast and compact laser system, 
            //-   b Biomedical Optics Express,
            //-     8, 112-123, 2017.
            //- li Y. Wang, D. Wang, R. Hubble and J. Xia, 
            //-   a(href="http://onlinelibrary.wiley.com/doi/10.1002/jbio.201600151/full") Second Generation Slit-based Photoacoustic Tomography System for Vascular Imaging in Human, 
            //-   b Journal of Biophotonics,
            //-     1-6, 2016.
            //- li L. Lei, J. Xia, G. Li, A. Garcia-Uribe, Q. Sheng, M.A. Anastasio, and L.V. Wang, 
            //-   a(href="http://neurophotonics.spiedigitallibrary.org/article.aspx?articleid=2540446") Label-free photoacoustic tomography of whole mouse brain structures ex vivo, 
            //-   b Neurophotonics,
            //-     0001;3(3):035001, 2016.
          
          .col-md-12.col-sm-12
            img.center-block(src="img/book.png" alt="Nada") 
            h1.text-uppercase.text-center Book Chapters
            p.text-justify blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
          .col-md-12.col-sm-12
            img.center-block(src="img/editor.png" alt="Nada") 
            h1.text-uppercase.text-center Editor-refereed Proceedings
            p.text-justify blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
          .col-md-12.col-sm-12
            img.center-block(src="img/review.png" alt="Nada") 
            h1.text-uppercase.text-center Peer-reviewed Proceedings
            p.text-justify blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
            
    include ./includes/_footer.pug
    script(src="js/main.js")
      
      
