- var currentPage = 'publications';
html
  head
    link(rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(href="css/main.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="node_modules/jquery/dist/jquery.min.js")
    script(src="node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript")
    title Optical and Ultrasonic Imaging Laboratory
    link(rel="icon" type="image/png" href="img/tabUB.png")
  body
    include ./includes/_header.pug
    .main
      .wrapper
        .row
          .col-md-12.col-sm-12
            .section-title
              img.title-icon(src="img/icons/journal.png" alt="Nada") 
              h2 Journal Articles
            ol
              .row
                .col-md-6.col-sm-12
                  li J. Xia and A. Mandelis, #[a(href="http://aip.scitation.org/doi/full/10.1063/1.2437686") Noncontact deep level photo-thermal spectroscopy: technique and application to semi-insulating GaAs wafers], #[strong Applied Physics Letters] 90, 062119 (1-3) (2007).
                  li A. Mandelis and J. Xia, #[a(href="http://aip.scitation.org/doi/full/10.1063/1.2842401") Deep level photo-thermal spectroscopy: physical principles and applications to semi-insulating GaAs band-gap multiple trap states], #[strong Journal of Applied Physics] 103, 043704 (1 – 17) (2008).
                  li J. Xia and A. Mandelis, #[a(href="http://aip.scitation.org/doi/full/10.1063/1.3131673") Broadening effects and ergodicity in deep level photo-thermal spectroscopy of defect states in semi-insulating GaAs: a combined temperature-, pulse-rate- and time-domain study of defect state kinetics], #[strong Journal of Applied Physics] 105, 103712(1-15) (2009).
                  li J. Xia and A. Mandelis, #[a(href="http://iopscience.iop.org/article/10.1088/0268-1242/24/12/125002") Radiative defect state identification in semi-insulating GaAs using photo-carrier radiometry], #[strong Semiconductor Science and Technology], 24, 125002 (1-7) (2009).
                  li J. Xia and A. Mandelis, #[a(href="http://aip.scitation.org/doi/full/10.1063/1.3458827") Direct-search deep level photo-thermal spectroscopy: An enhanced reliability method for overlapped semiconductor defect state characterization], #[strong Applied Physics Letters] 96, 262112 (1-3) (2010).
                  li A. Mandelis, A. Melnikov, J. Tolev, J. Xia, S. Huq, and E. Lioudakis, #[a(href="http://www.tandfonline.com/doi/abs/10.3166/qirt.7.35-54?needAccess=true&") Non-destructive infrared optoelectronic lock-in carrierography of mc-Si solar cells], #[strong Quantitative InfraRed Thermography Journal] 7, 35-54, (2010).
                  li J. Xia, Z. Guo, K. Maslov, A. Aguirre, Q. Zhu, C. Perciva, and L.V. Wang, #[a(href="http://biomedicaloptics.spiedigitallibrary.org/article.aspx?articleid=1167022") Three-dimensional photoacoustic tomography based on the focal-line concept], #[strong Journal of Biomedical Optics Letters], 16(9), 090505, (2011). Top 10 most frequently downloaded papers in SPIE Biomedical Optics Medical Imaging (Dec. 2011, Jan. 2012, Feb. 2012, and Mar. 2012). 
                  li [G. S. Filonov*, Arie Krumholz*], J. Xia, J. Yao, L.V. Wang, and V.V. Verkhusha, #[a(href="http://onlinelibrary.wiley.com/doi/10.1002/anie.201107026/full") Photoacoustic and fluorescent whole-body tomography of genetically encoded iRFP in vivo], #[strong Angewandte Chemie] 51(6), 1448-1451 (2011). [*Equal contribution] Highlighted as a Hot Paper by Angewandte Chemie.
                  li J. Xia, M. Chatni, K. Maslov, Z. Guo, K. Wang, M. Anastasio, and L.V. Wang, #[a(href="http://biomedicaloptics.spiedigitallibrary.org/article.aspx?articleid=1183141") Whole-body ring-shaped confocal photoacoustic computed tomography of small animals in vivo], #[strong Journal of Biomedical Optics Letters] 17(5), 050506, (2012).
                  li [M. Chatni*, J. Xia*], R. Sohn, K. Maslov, Z. Guo, Y. Zhang, K. Wang, Y. Xia, M. Anastasio, J. Arbeit, and L.V. Wang, #[a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3390466/") Tumor glucose metabolism imaged in vivo in small animals with whole-body photoacoustic computed tomography], #[strong Journal of Biomedical Optics] 17(7), 076012, 2012. [*Equal contribution]
                  li [J. Yao*, J. Xia*], V. Tsytsarev, M. Nasiriavanaki, K. Maslov, and L.V. Wang, #[a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3508393/") Non-invasive photoacoustic tomography of mouse brain metabolism in vivo], #[strong NeuroImage] 64, 257-266, 2013. [*Equal contribution]
                  li [L. Wu*, X. Cai*], K. Nelson, W. Xing, J. Xia, R. Zhang, A. Stacy, M. Luderer, G. Lanza, L.V. Wang, B. Shen, and D. Pan, #[a(href="http://link.springer.com/article/10.1007/s12274-013-0308-8") A green synthesis of carbon nanoparticles from honey and their use in real-time photoacoustic imaging], #[strong Nano research] 6, 312-325, 2013. [*Equal contribution]
                  li Y. Wang, J. Xia, K. Maslov, and L.V. Wang, #[a(href="https://www.ncbi.nlm.nih.gov/pubmed/23884608") Deep tissue photoacoustic computed tomography of Förster resonance energy transfer], #[strong Journal of Biomedical Optics] 18(10), 101316, 2013.
                  li J. Xia, A. Dannielli, Y. Liu, L. Wang, K. Maslov, and L.V. Wang, #[a(href="https://www.osapublishing.org/ol/abstract.cfm?uri=ol-38-15-2800") Calibration-free quantification of absolute oxygen saturation based on the dynamics of photoacoustic signals], #[strong Optics Letters] 38(15), 2800-2803, 2013.
                  li J. Xia, C. Huang, K. Maslov, M.A. Anastasio, and L.V. Wang, #[a(href="https://www.osapublishing.org/ol/abstract.cfm?uri=ol-38-16-3140") Enhancement of photoacoustic tomography by ultrasonic computed tomography based on optical excitation of elements of a full-ring transducer array]. #[strong Optics letters] 38(16), 3140-3143, 2013.
                  li (Invited review) J. Xiaand L.V. Wang, #[a(href="http://ieeexplore.ieee.org/document/6609058/") Small-animal whole-body photoacoustic tomography: a review], #[strong IEEE Transactions on Biomedical Engineering], in press, 2013.
                  li [L. Wang*, J. Xia*], J. Yao, K. Maslov, and L.V. Wang, #[a(href="http://journals.aps.org/prl/abstract/10.1103/PhysRevLett.111.204301") Ultrasonically encoded photoacoustic flowgraphy in biological tissue], #[strong Physical Review Letters] 111(20), 204301, 2013. Editor's Suggestion.
                  li B. Huang, J. Xia, K. Maslov, and L.V. Wang, #[a(href="https://www.ncbi.nlm.nih.gov/pubmed/24285421") Improving limited-view photoacoustic tomography with an acoustic reflector], #[strong Journal of Biomedical Optics Letters] 18(11), 110505, 2013.
                  li J. Xia, G. Li, L. Wang, M. Nasiriavanaki, K. Maslov, J.A. Engelbach, J.R. Garbow, and L.V. Wang, #[a(href="https://www.osapublishing.org/ol/abstract.cfm?uri=ol-38-24-5236") Wide-field two-dimensional multifocal optical-resolution photoacoustic computed microscopy], #[strong Optics Letters] 38(24), 5236-5239. 2013.
                  li [M. Nasiriavanaki*, J. Xia*], H. Wang, A. Bauer, J. Culver, and L.V. Wang, #[a(href="http://www.pnas.org/content/111/1/21.abstract") High-resolution photoacoustic tomography of resting-state functional connectivity in the mouse brain], #[strong Proceedings of the National Academy of Sciences], 111(1), 21-26, 2014. Highlighted in Early Edition.
                  li J. Xia, W. Chen, K. Maslov, M.A. Anastasio, and L.V. Wang, #[a(href="https://www.ncbi.nlm.nih.gov/pubmed/24395586") Retrospective respiration-gated whole-body photoacoustic computed tomography of mice], #[strong Journal of Biomedical Optics] 19(1), 016003, 2014.
                .col-md-6.col-sm-12
                  li [A. Krumholz*, D.M. Shcherbakova*], J. Xia, L.V. Wang, and V.V. Verkhusha, #[a(href="http://www.nature.com/articles/srep03939") Multicontrast photoacoustic in vivo imaging using near-infrared fluorescent proteins], #[strong Scientific Reports] 4, 3939, 2014. [*Equal contribution]  
                  li [H. Yuan*, C. Wilson*, J. Xia*, S. Doyle*], S. Li, A. Fales, Y. Liu, E. Ozakie, K. Mulfaul, G. Hanna, G. Palmer, L.V. Wang, G. Grant and T. Vo-Dinh, #[a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4343032/") Plasmonics enhanced brain tumor delivery and inflammasome activation], #[strong Nanoscale], In press. [*Equal contribution]
                  li K. Wang, J. Xia, C. Li, L.V. Wang, and M.A. Anastasio, #[a(href="https://www.ncbi.nlm.nih.gov/pubmed/24817620") Fast spatio-temporal image reconstruction based on low-rank matrix estimation for dynamic photoacoustic computed tomography], #[strong Journal of Biomedical Optics], 19(5), 056007, 2014.
                  li (Invited review) [J. Xia*, J. Yao*], L.V. Wang, #[a(href="http://www.jpier.org/PIER/pier.php?paper=14032303") Photoacoustic imaging: a review of current progress], progress in Electromagnetics Research, 147, 1-22, 2014. [*Equal contribution]
                  li G. Li, J. Xia, K. Maslov, and L.V. Wang, #[a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4312304/") Tripling the detection view of high-frequency linear-array-based photoacoustic computed tomography by using two planar acoustic reflectors], #[strong Quantitative Imaging in Medicine and Surgery] 5(1), 57-62, 2015.
                  li (Invited review) [J. Xia*, C. Kim*, and J. Lovell*], #[a(href="https://www.ncbi.nlm.nih.gov/pubmed/26148989") Opportunities for Photoacoustic-Guided Drug Delivery], #[strong Current Drug Targets] 16(6), 571-581, 2015.
                  li L. Lin, J. Xia, T.W. Wong, L. Li, and L.V. Wang, #[a(href="http://biomedicaloptics.spiedigitallibrary.org/article.aspx?articleid=2107220") In vivo deep-brain imaging of rats using oral-cavity illuminated photoacoustic computed tomography], #[strong Journal of Biomedical Optics], 20(1), 016019-016019, 2015.
                  li [L. Wang*, G. Li*], J. Xia, and L.V. Wang, #[a(href="https://www.osapublishing.org/optica/abstract.cfm?uri=optica-2-4-307") Ultrasonic-heating–encoded photoacoustic tomography with virtually augmented detection view], #[strong Optica] 2(4), 307-312, 2015.
                  li K.J. Cash, C. Li, J. Xia, L.V. Wang, and H.A. Clark, #[a(href="http://pubs.acs.org/doi/abs/10.1021/nn5064858") Optical Drug Monitoring: Photoacoustic Imaging of Nanosensors to Monitor Therapeutic Lithium In Vivo], #[strong ACS Nano], 9(2):1692-1698, 2015.
                  li A. Danielli, K. Maslov, C.P. Favazza, J. Xia, and L.V. Wang, #[a(href="http://aip.scitation.org/doi/full/10.1063/1.4921474") Nonlinear photoacoustic spectroscopy of hemoglobin], #[strong Applied Physics Letters] 106(20), 203701, 2015.
                  li G. Li, L. Li, L. Zhu, J. Xia, and L.V. Wang, #[a(href="https://www.ncbi.nlm.nih.gov/pubmed/26112369") Multiview Hilbert transformation for full-view photoacoustic computed tomography using a linear array], #[strong Journal of Biomedical Optics] 20(6), 066010, 2015.
                  li (Invited review) J. Xia, Y. Wang, and H. Wan, #[a(href="https://www.degruyter.com/view/j/phto.2014.1.issue-1/phto-2015-0008/phto-2015-0008.xml") Recent Progress in Multimodal Photoacoustic Tomography], #[strong X-Acoustics: Imaging and Sensing] 1:55-64, 2015.
                  li Q. Sheng, K. Wang, J. Xia, L. Zhu, L.V. Wang, and M.A. Anastasio, #[a(href="http://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=7113884") A constrained variable projection reconstruction method for photoacoustic computed tomography with inaccurate transducer responses], #[strong IEEE Transactions on Medical Imaging], 34(12), 2443-58, 2015.
                  li (Invited review) J. Yao, J. Xia, and L.V. Wang, #[a(href="https://www.ncbi.nlm.nih.gov/pubmed/25933617") Multiscale Functional and Molecular Photoacoustic Tomography], #[strong Ultrasonic Imaging] 38(1), 44-62, 2016.
                  li (Invited review) D. Wang, Y. Wu, and J. Xia, #[a(href="http://neurophotonics.spiedigitallibrary.org/article.aspx?articleid=2480742") Review on photoacoustic tomography of the brain using nanoprobes], #[strong Neurophotonics], 3(1), 010901, 2016.
                  li Y. Wang, D. Wang, Y. Zhang, J. Geng, J.F. Lovell, and J. Xia, #[a(href="https://www.osapublishing.org/ol/abstract.cfm?uri=ol-41-1-127") Slit-enabled linear-array photoacoustic tomography with near isotropic spatial resolution in three dimensions], #[strong Optics Letters], 41(1), 127-130, 2016.
                  li [Y. Zhou*, D. Wang*], Y. Zhang, U Chitgupi, J. Geng, Y. Wang, Y. Zhang, T.R. Cook, J. Xia, and J.F. Lovell, #[a(href="https://XYZ") A Phosphorus Phthalocyanine Formulation with Intense Absorbance at 1000 nm for Deep Optical Imaging], #[strong Theranostics] 6(5), 688, 2016.
                  li D. Wang, Y. Wang, Y. Zhou, J.F. Lovell, and J. Xia, #[a(href="http://www.thno.org/v06p0688.htm") Coherent-weighted three-dimensional image reconstruction in linear-array-based photoacoustic tomography], #[strong Biomedical Optics Express], 7(5), 1957-1965, 2016.
                  li H. Wan, Y. Zhou, L. Ying, J. Meng, L. Song, and J. Xia, #[a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4871094/") Enabling high-speed wide-field dynamic imaging in multifocal photoacoustic computed microscopy: a simulation study], #[strong Applied Optics], 55(14), 3724-3729, 2016.
                  li H. Huang, D. Wang, Y. Zhang, Y. Zhou, J. Geng, U. Chitgupi, T.R. Cook, J. Xia, and J.F. Lovell, #[a(href="https://www.osapublishing.org/ao/abstract.cfm?uri=ao-55-14-3724") Axial PEGylation of Tin Octabutoxy Naphthalocyanine Extends Blood Circulation for Photoacoustic Vascular Imaging], #[strong Bioconjugate Chemistry] 27, 1574-1578, 2016.
                  li Y. Zhang, D. Wang, S. Goel, B. Sun, U. Chitgupi, J. Geng, H. Sun, T.E. Barnhart, W. Cai, J. Xia, and J.F. Lovell, #[a(href="http://pubs.acs.org/doi/abs/10.1021/acs.bioconjchem.6b00280") Surfactant-Stripped Frozen Pheophytin Micelles for Multimodal Gut Imaging], #[strong Advanced Materials] ,2016.
                  li L. Lei, J. Xia, G. Li, A. Garcia-Uribe, Q. Sheng, M.A. Anastasio, and L.V. Wang, #[a(href="http://onlinelibrary.wiley.com/doi/10.1002/adma.201602373/full") Label-free photoacoustic tomography of whole mouse brain structures ex vivo], #[strong Neurophotonics] 0001;3(3):035001, 2016.
                  li D. Wang, Y. Wang, W. Wang, D. Luo, U. Chitgupi, J. Geng, Y.Zhou, L. Wang, J.F. Lovell, and J. Xia, #[a(href="https://www.osapublishing.org/boe/abstract.cfm?uri=boe-8-1-112") Deep tissue photoacoustic computed tomography with a fast and compact laser system], #[strong Biomedical Optics Express], 8, 112-123, 2017.
                  li Y. Wang, D. Wang, R. Hubble and J. Xia, #[a(href="http://onlinelibrary.wiley.com/doi/10.1002/jbio.201600151/full") Second Generation Slit-based Photoacoustic Tomography System for Vascular Imaging in Human], #[strong Journal of Biophotonics], 1-6, 2016.
        
        .row  
          .col-md-12.col-sm-12
            .section-title
              img.title-icon(src="img/icons/book.png" alt="Nada") 
              h2 Book Chapters
            ol
              li J. Xia and L.V. Wang, #[a(href="http://www.springer.com/us/book/9781461449775") Photoacoustic tomography of the brain, in Optical Methods and Instrumentation in Brain Imaging and Therapy], S. Madsen, Ed., Springer. 2012.
              li J. Yao*, J. Xia*, and L.V. Wang, #[a(href="http://onlinelibrary.wiley.com/doi/10.1002/9783527600441.oe1006/abstract") Photoacoustic Tomography for Biomedical Applications, in Optics Encyclopedia], Wiley, in press, 2014. [*Equal contribution]
              li J. Xia, J. Yao, and L.V. Wang, #[a(href="http://oilab.seas.wustl.edu/epub/") Photoacoustic neuroimaging, in Neurophotonics for Brain Mapping and Therapeutics], B. Kateb and Y. Chen, Ed., The Society of Brain Mapping and Therapeutics, in press, 2014.
        
        .row
          .col-md-12.col-sm-12
            .section-title
              img.title-icon(src="img/icons/editor.png" alt="Nada") 
              h2 Editor-refereed Proceedings
            ol
              li (Invited) J. Xia and A. Mandelis, Deep-Level Photo-Thermal Spectroscopy, Emerging Technologies in NDT, Proc. 4th Int. Conf. On Emerging Technologies in NDT, pp. 187 – 192. (2008).
              li J. Xia, Z. Guo, A. Aguirre, Q. Zhu, and L.V. Wang, #[a(href="http://oilab.seas.wustl.edu/epub/") Small-animal whole-body imaging using a photoacoustic full-ring array system], Proceedings of SPIE 7899, 789911, (2011).Top 10 most frequently downloaded papers in SPIE Biomedical Optics Medical Imaging (Dec. 2011, Jan. 2012, and Apr. 2012).
              li A. Danielli, K. Maslov, J. Xia, and L.V. Wang, #[a(href="http://oilab.seas.wustl.edu/epub/") Wide range quantitative photoacoustic spectroscopy to measure non-linear optical absorption of hemoglobin], Proceedings of SPIE 8223, 82233H, (2012).
              li J. Xia, M. Chatni, K. Maslov, Z. Guo, M. Anastasio, and L.V. Wang, #[a(href="http://oilab.seas.wustl.edu/epub/") Ring-shaped confocal photoacoustic computed tomography for small animal whole-body imaging], Proceedings of SPIE 8223, 82230G, (2012).
              li J. Yao, J. Xia, K. Maslov, M. Avanaki, V. Tsytsarev, A.V. Demchenko, and L.V. Wang, #[a(href="http://oilab.seas.wustl.edu/epub/") Noninvasive photoacoustic computed tomography of mouse brain metabolism in vivo], Proceedings of SPIE 8581, 85814A, (2013). Best Poster Award. An image in the manuscript was presented in a Nature outlook article (Nature 502, S90–S91, 2013). 
              li X. Cai, L. Wu, W. Xing, J. Xia, L. Nie, R. Zhang, G.M. Lanza, B. Shen, D. Pan, and L.V. Wang, #[a(href="http://oilab.seas.wustl.edu/epub/") Carbon nanoparticles as a multimodal thermoacoustic and photoacoustic contrast agent], Proceedings of SPIE 8581, 858140, (2013).
              li M. Avanaki, J. Xia, and L.V. Wang, #[a(href="http://oilab.seas.wustl.edu/epub/") High resolution functional photoacoustic computed tomography of the mouse brain during electrical stimulation], Proceedings of SPIE 8581, 85813K, (2013).
              li J. Xia, M. Chatni, K. Maslov, L.V. Wang, #[a(href="http://oilab.seas.wustl.edu/epub/") Anatomical and metabolic small-animal whole-body imaging using ring-shaped confocal photoacoustic computed tomography], Proceedings of SPIE 8581, 85810K, (2013).
              li K. Wang, J. Xia, C. Li, L.V. Wang, M.A. Anastasio, #[a(href="http://oilab.seas.wustl.edu/epub/") Low-rank matrix estimation-based spatio-temporal image reconstruction for dynamic photoacoustic computed tomography], SPIE BiOS, 89432I-89432I-8, 2014
              li M. Nasiriavanaki, W. Xing, J. Xia, L.V. Wang, #[a(href="http://oilab.seas.wustl.edu/epub/") Functional connectivity in the mouse brain imaged by B-mode photoacoustic microscopy], SPIE BiOS, 894364-894364-5, 2014
              li Y. Lou, J Xia, L.V. Wang, #[a(href="http://oilab.seas.wustl.edu/epub/") Mouse brain imaging using photoacoustic computed tomography], SPIE BiOS, 894340-894340-7, 2014
              li J Xia, C. Huang, K. Maslov, M.A. Anastasio, L.V. Wang, #[a(href="http://oilab.seas.wustl.edu/epub/") Acoustic-speed correction of photoacoustic tomography by ultrasonic computed tomography based on optical excitation of elements of a full-ring transducer array], SPIE BiOS, 89432G-89432G-6, 2014
              li G. Li, J. Xia, K.I. Maslov, L.V. Wang, #[a(href="http://oilab.seas.wustl.edu/epub/") Broadening the detection view of high-frequency linear-array-based photoacoustic computed tomography by using planar acoustic reflectors], SPIE BiOS, 89430H-89430H-6, 2014
              li M. Nasiriavanaki, J. Xia, H. Wan, A.Q. Bauer, J.P. Culver, L.V. Wang, #[a(href="http://oilab.seas.wustl.edu/epub/") Resting-state functional connectivity imaging of the mouse brain using photoacoustic tomography], SPIE BiOS, 89432O-89432O-5. 2014
              li Q. Sheng, K. Wang, J. Xia, L. Zhu, L.V. Wang, M. Anastasio, #[a(href="http://oilab.seas.wustl.edu/epub/") Photoacoustic computed tomography without accurate ultrasonic transducer responses], Proceedings of SPIE 9323:932313, 2015.
              li L. Lin, J. Xia, T.T.W. Wong, R.Y. Zhang, L.V. Wang, #[a(href="http://oilab.seas.wustl.edu/epub/") In vivo deep brain imaging of rats using oral-cavity illuminated photoacoustic computed tomography], Proceedings of SPIE 9323: 93230G, 2015.
              li L. Li, J. Xia, G. Li, A. Garcia-Uribe, L.V. Wang, #[a(href="http://oilab.seas.wustl.edu/epub/") Label-free structural photoacoustic tomography of intact mouse brain], Proceedings of SPIE 9323:93230M, 2015.
              li G. Li, J. Xia, L. Li, L.D. Wang, and L.V. Wang, #[a(href="http://oilab.seas.wustl.edu/epub/") Isotropic-resolution linear-array-based photoacoustic computed tomography through inverse Radon transform], Proceedings of SPIE 9323:93230I, 2015.
        
        .row
          .col-md-12.col-sm-12
            .section-title
              img.title-icon(src="img/icons/review.png" alt="Nada") 
              h2 Peer-reviewed Proceedings
            ol
              li J. Xia and A. Mandelis, #[a(href="http://iopscience.iop.org/article/10.1088/1742-6596/214/1/012107/meta") Noncontact Deep Level Photo-Thermal Spectroscopy of Semi-Insulating GaAs], Proc. 14th Int. Conf. Photoacoustic Photothermal Phenomena, January 6 – 9, 2007, European Physical Journal, Special Topics 153, 283 – 285. (2008).          
              li (Invited) A. Mandelis and J. Xia, #[a(href="http://aip.scitation.org/doi/10.1063/1.3131673") Broadening effects and ergodicity in deep level photo-thermal spectroscopy of defect states in semi-insulating GaAs: a combined temperature-, pulse-rate- and time-domain study of defect state kinetics], Proc. 15th Int. Conf. Photoacoustic Photothermal Phenomena, July 19 – 23, 2009, Journal of Physics: Conference Series 214, 012001 (1 – 7) (2010).
              li J. Xia and A. Mandelis, #[a(href="https://cadipt.mie.utoronto.ca/wp-content/uploads/2016/01/APL_90_062119.pdf") Photocarrier radiometric study of defect states in semi-insulating GaAs], Proc. 15th Int. Conf. Photoacoustic Photothermal Phenomena, July 19 – 23, 2009, Journal of Physics: Conference Series 214, 012107 (1 – 5) (2010).
                  
              
              
    include ./includes/_footer.pug
    script(src="js/main.js")
      
      
