- var currentPage = 'publications';
html
  head
    link(rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(href="css/main.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="node_modules/jquery/dist/jquery.min.js")
    script(src="node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript")
    title Optical and Ultrasonic Imaging Laboratory
    link(rel="icon" type="image/png" href="img/tabUB.png")
  body
    include ./includes/_header.pug
    .main
      .wrapper
        .row
          .col-md-12.col-sm-12
            img.center-block(src="img/journal.png" alt="Nada") 
            h1.text-uppercase.text-center Journal Articles
            p.text-justify blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
          .col-md-12.col-sm-12
            img.center-block(src="img/book.png" alt="Nada") 
            h1.text-uppercase.text-center Book Chapters
            p.text-justify blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
          .col-md-12.col-sm-12
            img.center-block(src="img/editor.png" alt="Nada") 
            h1.text-uppercase.text-center Editor-refereed Proceedings
            p.text-justify blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
          .col-md-12.col-sm-12
            img.center-block(src="img/review.png" alt="Nada") 
            h1.text-uppercase.text-center Peer-reviewed Proceedings
            p.text-justify blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
            
    include ./includes/_footer.pug
    script(src="js/main.js")
      
      
