- var currentPage = 'research';
html
  head
    link(rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(href="css/main.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="node_modules/jquery/dist/jquery.min.js")
    script(src="node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript")
    title Optical and Ultrasonic Imaging Laboratory
    link(rel="icon" type="image/png" href="img/tabUB.png")
  body
    include ./includes/_header.pug
    .main#research
      .wrapper
        .row
          .col-md-9.col-sm-12
            article.row#article10
              h3 Deep Tissue Photoacoustic Computed Tomography with a Fast and Compact Laser System
              .content
                img.research(src="img/research/r10_img.png")
                p.text-justify Photoacoustic computed tomography (PACT) holds great promise for biomedical imaging, but wide-spread implementation is impeded by the bulkiness of flash-lamp-pumped laser systems, which typically weigh between 50 - 200 kg, require continuous water cooling, and operate at a low repetition rate. Here, we demonstrate that compact lasers based on emerging diode technologies are well-suited for preclinical and clinical PACT. The diode-pumped laser used in this study had a miniature footprint (13×14×7cm#[sup 3]), weighed only 1.6 kg, and outputted up to 80 mJ per pulse at 1064 nm. In vitro, the laser system readily provided over 4 cm PACT depth in chicken breast tissue. In vivo, in addition to high resolution, non-invasive brain imaging in living mice, the system can operate at 50 Hz, which enabled high-speed cross-sectional imaging of murine cardiac and respiratory function. The system also provided high quality, high-frame rate, and non-invasive three-dimensional mapping of arm, palm, and breast vasculature at multi centimeter depths in living human subjects, demonstrating the clinical viability of compact lasers for PACT. 
                p Depeng Wang, Yuehang Wang, Weiran Wang, Dandan Luo, Upendra Chitgupi, Jumin Geng, Yang Zhou, Lidai Wang, Jonathan F Lovell, and Jun Xia, #[a(href="https://www.osapublishing.org/boe/fulltext.cfm?uri=boe-8-1-112&id=355877") Deep tissue photoacoustic computed tomography with a fast and compact laser system], Biomed. Opt. Express 8, 112-123 (2017)
            
            article.row#article9
              h3 Coherent-Weighted 3D Image Reconstruction in Linear-array-based Photoacoustic Tomography
              .content
                img.research(src="img/research/r9_img.png")
                p.text-justify While the majority of photoacoustic imaging systems used custom-made transducer arrays, commercially-available linear transducer arrays hold the benefits of affordable price, handheld convenience and wide clinical recognition. They are not widely used in photoacoustic imaging primarily because of the poor elevation resolution. Here, without modifying the imaging geometry and system, we propose addressing this limitation purely through image reconstruction. Our approach is based on the integration of two advanced image reconstruction techniques: focal-line-based three-dimensional image reconstruction and coherent weighting. We first numerically validated our approach through simulation and then experimentally tested it in phantom and in vivo. Both simulation and experimental results proved that the method can significantly improve the elevation resolution (up to 4 times in our experiment) and enhance object contrast.
                p Depeng Wang, Yuehang Wang, Yang Zhou, Jonathan F. Lovell and Jun Xia, #[a(href="https://www.osapublishing.org/boe/fulltext.cfm?uri=boe-7-5-1957") Coherent-weighted three-dimensional image reconstruction in linear-array-based photoacoustic tomography], Biomedical Optics Express, 7(5), 1957-1965 (2016)
                
            article.row#article8
              h3 A Phosphorus Phthalocyanine Formulation with Intense Absorbance at 1000nm for Deep Optical Imaging
              .content
                img.research(src="img/research/r8_img.png")
                p.text-justify Although photoacoustic computed tomography (PACT) operates with high spatial resolution in biological tissues deeper than other optical modalities, light scattering is a limiting factor. The use of longer near infrared wavelengths reduces scattering. Recently, the rational design of a stable phosphorus phthalocyanine (P-Pc) with a long wavelength absorption band beyond 1000 nm has been reported. Here, we show that when dissolved in biocompatible liquid surfactants, P-Pc can give rise to formulations with intense absorption values of greater than 1000 at wavelengths beyond 1000 nm. Using the broadly accessible Nd:YAG pulse laser emission output of 1064 nm, P-Pc could be imaged through 11.6 cm of chicken breast with PACT. P-Pc accumulated passively in tumors following intravenous injection in mice as observed by PACT. Following oral administration, P-Pc passed through the intestine harmlessly, and PACT could be used to non-invasively observe intestine function. When placed under the arm of a healthy adult human, a PACT transducer on the top of the arm could readily detect P-Pc across an entire 5 cm arm. Thus, the approach of using biocompatible media with extreme absorption at 1064 nm readily enables high quality optical imaging in vitro and in vivo in humans at exceptional depths. 
                p Yang Zhou, Depeng Wang, Yumiao Zhang, Upendra Chitgupi, Jumin Geng, Yuehang Wang, Yuzhen Zhang, Timothy R. Cook, Jun Xia and Jonathan F. Lovell, #[a(href="http://thno.org/v06p0688") A Phosphorus Phthalocyanine Formulation with Intense Absorbance at 1000 nm for Deep Optical Imaging], Theranostics, 6(5), 688 (2016)
              
            article.row#article7
              h3 Slit-enabled Linear-array PAT with Near Isotropic Spatial Resolution in Three Dimension
              .content
                img.research(src="img/research/r7_img.png")
                p.text-justify Due to its unique capability of visualizing optical absorption in deep tissues, photoacoustic tomography is increasingly used in biomedical imaging. Among various types of transducer arrays, the linear array is perhaps the most widely used in photoacoustic tomography because it is commercially available and readily allows ultrasound imaging. However, the three-dimensional imaging capability of a linear array is limited due to its poor elevational resolution. While various scanning schemes have been proposed to address this problem, they all suffer from long scanning time to the best of our knowledge. To address this issue, we introduce slit-enabled three-dimensional photoacoustic tomography. The metal slit, placed at the array focus, causes the incoming photoacoustic waves to diffract along the elevation direction and, hence, significantly improves the elevation detection aperture and resolution. We tested the new system in both phantoms and animals. The slit improves the elevation resolution by 10 times without compromising scanning time. 
                p Wang, Y., Wang, D., Zhang, Y., Geng, J., Lovell, J. F. and Xia, J, #[a(href="http://www.osapublishing.org/ol/fulltext.cfm?uri=ol-41-1-127") Slit-enabled linear-array photoacoustic tomography with near isotropic spatial resolution in three dimensions], Optics Letters, 41(1), 127-130 (2016)
                    
            article.row#article6
              h3 Anatomical and Vascular Imaging
              .content
                img.research(src="img/research/r1_img.png")
                p.text-justify We report a novel small-animal whole-body imaging system called ring-shaped confocal photoacoustic computed tomography (RC-PACT). RC-PACT is based on a confocal design of free-space ring-shaped light illumination and 512-element full-ring ultrasonic array signal detection. The free-space light illumination maximizes the light delivery efficiency, and the full-ring signal detection ensures a full two-dimensional view aperture for accurate image reconstruction. Using cylindrically focused array elements, RC-PACT can image a thin cross section with 0.10 to 0.25mm in-plane resolutions and 1.6 s/frame acquisition time. By translating the mouse along the elevational direction, RC-PACT provides a series of cross-sectional images of the brain, liver, kidneys, and bladder.
                p Xia, J., Chatni, M., Maslov, K., Guo, Z., Wang, K., Anastasio, M., Wang and L. V. #[a(href="http://biomedicaloptics.spiedigitallibrary.org/article.aspx?articleid=1183141%20") Whole-body ring-shaped confocal photoacoustic computed tomography of small animals in vivo]. Journal of Biomedical Optics, 17(5), 050506 (2012) 
            
            article.row#article5
              h3 Functional Imaging
              .content
                img.research(src="img/research/")
                p.text-justify Photoacoustic tomography (PAT) is a hybrid imaging technique that has broad preclinical and clinical applications. Based on the photoacoustic effect, PAT directly measures specific optical absorption, which is the product of the tissue-intrinsic optical absorption coefficient and the local optical fluence. Therefore, quantitative PAT, such as absolute oxygen saturation (sO2) quantification, requires knowledge of the local optical fluence, which can only be estimated through invasive measurements or sophisticated modeling of light transportation. In this Letter, we circumvent this requirement by taking advantage of the dynamics in sO2. The new method works when the sO2 transition can be simultaneously monitored with multiple wavelengths. For each wavelength, the ratio of photoacoustic amplitudes measured at different sO2 states is utilized. Using the ratio cancels the contribution from optical fluence and allows calibration-free quantification of absolute sO2. The new method was validated through both phantom and in vivo experiments. 
                p Xia, J., Danielli, A., Liu, Y., Wang, L., Maslov, K., Wang and L. V., #[a(href="https://www.osapublishing.org/ol/abstract.cfm?URI=ol-38-15-2800") Calibration-free quantification of absolute oxygen saturation based on the dynamics of photoacoustic signals], Opt. Lett., 38(15), 2800-2803 (2013)
                      
            article.row#article4
              h3 Molecular Imaging 
              .content
                img.research(src="img/research/r3_img.png")
                p.text-justify With the increasing use of small animals for human disease studies, small-animal whole-body molecular imaging plays an important role in biomedical research. Currently, none of the existing imaging modalities can provide both anatomical and glucose molecular information, leading to higher costs of building dual-modality systems. Even with image co-registration, the spatial resolution of the molecular imaging modality is not improved. Utilizing a ring-shaped confocal photoacoustic computed tomography system, we demonstrate, for the first time, that both anatomy and glucose uptake can be imaged in a single modality. Anatomy was imaged with the endogenous hemoglobin contrast, and glucose metabolism was imaged with a near-infrared dye-labeled 2-deoxyglucose. 
                p Chatni, M. R., Xia, J., Sohn, R., Maslov, K., Guo, Z., Zhang, Y., Wang, K., Xia, Y., Anastasio, M., Arbeit, J. and Wang, L. V. #[a(href="http://biomedicaloptics.spiedigitallibrary.org/article.aspx?articleid=1352511") Tumor glucose metabolism imaged in vivo in small animals with whole-body photoacoustic computed tomography], Journal of Biomedical Optics, 17(7), 076012 (2012)
                    
            article.row#article3
              h3 Neurological Imaging 
              .content
                img.research(src="img/research/r4_img.png")
                p.text-justify The increasing use of mouse models for human brain disease studies presents an emerging need for a new functional imaging modality. Using optical excitation and acoustic detection, we developed a functional connectivity photoacoustic tomography system, which allows noninvasive imaging of resting-state functional connectivity in the mouse brain, with a large field of view and a high spatial resolution. Bilateral correlations were observed in eight functional regions, including the olfactory bulb, limbic, parietal, somatosensory, retrosplenial, visual, motor, and temporal regions, as well as in several subregions. The borders and locations of these regions agreed well with the Paxinos mouse brain atlas. By subjecting the mouse to alternating hyperoxic and hypoxic conditions, strong and weak functional connectivities were observed, respectively. In addition to connectivity images, vascular images were simultaneously acquired. These studies show that functional connectivity photoacoustic tomography is a promising, noninvasive technique for functional imaging of the mouse brain. 
                p Nasiriavanaki, M., Xia, J., Wan, H., Bauer, A. Q., Culver, J. P., and Wang, L. V., #[a(href="http://www.pnas.org/content/111/1/21.abstract") High-resolution photoacoustic tomography of resting-state functional connectivity in the mouse brain], Proc Natl Acad Sci U S A, 111(1), 21-26. doi: 10.1073/pnas.1311868111 (2014)
          
            article.row#article2
              h3 Combined PAT and Microscopy Imaging 
              .content
                img.research(src="img/research/")
                p.text-justify Photoacoustic computed tomography (PACT) is a hybrid technique that combines optical excitation and ultrasonic detection to provide high-resolution images in deep tissues. In the image reconstruction, a constant speed of sound (SOS) is normally assumed. This assumption, however, is often not strictly satisfied in deep tissue imaging, due to acoustic heterogeneities within the object and between the object and the coupling medium. If these heterogeneities are not accounted for, they will cause distortions and artifacts in the reconstructed images. In this Letter, we incorporated ultrasonic computed tomography (USCT), which measures the SOS distribution within the object, into our full-ring array PACT system. Without the need for ultrasonic transmitting electronics, USCT was performed using the same laser beam as for PACT measurement. By scanning the laser beam on the array surface, we can sequentially fire different elements. As a first demonstration of the system, we studied the effect of acoustic heterogeneities on photoacoustic vascular imaging. We verified that constant SOS is a reasonable approximation when the SOS variation is small. When the variation is large, distortion will be observed in the periphery of the object, especially in the tangential direction. 
                p Xia, J., Huang, C., Maslov, K., Anastasio, M. A., Wang, L. V., #[a(href="https://www.osapublishing.org/ol/abstract.cfm?URI=ol-38-16-3140#Abstract") Enhancement of photoacoustic tomography by ultrasonic computed tomography based on optica excitation of elements of a full-ring transducer array], Opt. Lett., 38(16), 3140-3143 (2013)
                        
            article.row#article1
              h3 Combined PAT and High Intensity Focused Ultrasound Imaging for Flow Measurement 
              .content
                img.research(src="img/research/")
                p.text-justify Blood flow speed is an important functional parameter. Doppler ultrasound flowmetry lacks sufficient sensitivity to slow blood flow (several to tens of millimeters per second) in deep tissue. To address this challenge, we developed ultrasonically encoded photoacoustic flowgraphy combining ultrasonic thermal tagging with photoacoustic imaging. Focused ultrasound generates a confined heat source in acoustically absorptive fluid. Thermal waves propagate with the flow and are directly visualized in pseudo color using photoacoustic computed tomography. The Doppler shift is employed to calculate the flow speed. This method requires only acoustic and optical absorption, and thus is applicable to continuous fluid. A blood flow speed as low as 0.24mm⋅s−1 was successfully measured. Deep blood flow imaging was experimentally demonstrated under 5-mm-thick chicken breast tissue. 
                p Wang, L., Xia, J., Yao, J., Maslov, K. I., and Wang, L. V., #[a(href="http://journals.aps.org/prl/abstract/10.1103/PhysRevLett.111.204301") Ultrasonically Encoded Photoacoustic Flowgraphy in Biological Tissue], Physical Review Letters, 111(20), 204301 (2013) 
          
            article.row#articleFund
              h3 Research Funding
              .content
                h4 NIH 1R21EY026411
                p September 1, 2015 - June 30, 2017
                p Role: PI (50% share) 
                h4 SUNY Brain Network of Excellence "Big Idea" Award
                p September 15, 2015 - October 15, 2016
                p Role: Co-PI 
                h4 University at Buffalo IMPACT Award
                p Feb. 20, 2016 - Feb. 20, 2017
                p Role: PI 
                h4 Clinical and Translational Science Pilot Studies Award
                p Apr. 1, 2017 - Mar. 31, 2018
                p Role: PI 
                                                                
          .col-md-3.col-sm-12
            #sidebar(data-spy="affix")
              ul.sticky
                li: a(href="#article10") Deep Tissue Photoacoustic Computed Tomography with a Fast and Compact Laser System
                li: a(href="#article9") Coherent-Weighted 3D Image Reconstruction in Linear-array-based Photoacoustic Tomography
                li: a(href="#article8") A Phosphorus Phthalocyanine Formulation with Intense Absorbance at 1000nm for Deep Optical Imaging
                li: a(href="#article7") Slit-enabled Linear-array PAT with Near Isotropic Spatial Resolution in Three Dimension
                li: a(href="#article6") Anatomical and Vascular Imaging
                li: a(href="#article5") Functional Imaging
                li: a(href="#article4") Molecular Imaging
                li: a(href="#article3") Neurological Imaging
                li: a(href="#article2") Combined PAT and Microscopy Imaging 
                li: a(href="#article1") Combined PAT and High Intensity Focused Ultrasound Imaging for Flow Measurement 
                li: a(href="#articleFund") Research Funding
                
                
    include ./includes/_footer.pug
    script(src="js/main.js")
      
      
